.root {
  width: 100%;
}

.effects {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 24px;
  font-weight: 600;
  font-family: "Proxima Nova";
  margin-bottom: 10px;
}
