.root {
  background: #ffffff;
  touch-action: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.start {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.header {
  font-size: 30px;
  font-weight: 600;
  font-family: "Proxima Nova";
  text-align: center;
  margin-bottom: 20px;
}
.playGround {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.title {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Proxima Nova";
  color: rgb(155, 155, 155);
}

@media (min-width: 450px) {
  .root {
    max-width: 450px;
  }
  .playGround {
    max-width: 400px;
    justify-content: center;
  }
}

@media (min-width: 550px) {
  .root {
    max-width: 500px;
  }
  .playGround {
    max-width: 500px;
    justify-content: center;
  }
}
@media (min-width: 650px) {
  .root {
    max-width: 600px;
  }
  .playGround {
    max-width: 590px;
    justify-content: center;
  }
}
@media (min-width: 810px) {
  .root {
    max-width: 700px;
  }
  .playGround {
    max-width: 700px;
    justify-content: center;
  }
}

@media (min-width: 820px) {
  .root {
    max-width: 760px;
  }
  .playGround {
    max-width: 750px;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .root {
    max-width: 1000px;
  }
  .playGround {
    max-width: 900px;
    justify-content: center;
  }
}
