.root {
  width: 100%;
  aspect-ratio: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

@media (min-width: 400px) {
  .root {
    width: auto;
    height: 100%;
    aspect-ratio: 3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 700px) {
  .root {
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
