.root {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.header,
.footer {
  padding: 1rem 0;
}

.children {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
