.root {
  background: #ffffff;
  touch-action: none;
}
.header {
  font-size: 30px;
  font-weight: 600;
  font-family: "Proxima Nova";
  text-align: center;
  margin-bottom: 20px;
}
.playGround {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
