.root {
  touch-action: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.root_main {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 0 auto;
  background-color: rgb(35, 130, 240);
  border: none;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.start_word {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  font-family: "Proxima Nova";
}
.start:hover {
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
}
.header {
  font-size: 30px;
  font-weight: 600;
  font-family: "Proxima Nova";
  text-align: center;
  margin-bottom: 20px;
}
.playGround {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.title {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Proxima Nova";
  color: rgb(155, 155, 155);
}
.logo {
  position: absolute;
  bottom: 0;
}
