.root {
  display: flex;
  width: 100px;
  margin-left: 50px;
}

.button {
  width: 40px;
  height: 40px;
  background-color: rgb(221, 221, 221);
  border: 2px solid rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  font-family: "Proxima Nova";
  color: rgb(255, 255, 255);
}

.button_active {
  composes: button;
  background-color: rgb(70, 57, 218);
  border: 2px solid rgb(70, 57, 218);
  color: white;
}
.custom_switch {
  background-color: rgb(9, 113, 231) !important;
}

@media (min-width: 550px) {
  .root {
    margin: 0;
  }
  .custom_switch {
    width: 80px;
    height: 30px;
  }
  .root button div:before {
    width: 20px;
    height: 20px;
    border-radius: 20px !important;
    margin-top: 2px;
    margin-right: 5px !important;
  }
  .root button span {
    font-size: 16px !important;
    margin-top: 1px;
  }
}

@media (min-width: 650px) {
  .root {
    margin: 0;
    width: 150px;
  }
  .custom_switch {
    width: 100px;
    height: 40px;
  }
  .root button div:before {
    width: 25px;
    height: 25px;
    border-radius: 20px !important;
    margin-top: 5px;
    margin-right: 5px !important;
  }
  .root button span {
    font-size: 20px !important;
    margin-top: 3px;
  }
}
@media (min-width: 820px) {
  .custom_switch {
    width: 150px;
    height: 60px;
  }
  .root button div:before {
    width: 35px;
    height: 35px;
    margin-top: 7px;
  }
  .root button span {
    font-size: 30px !important;
    margin-top: 7px;
  }
}
