.root > *:not(:first-child) {
  margin-top: 1rem;
}

.title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Proxima Nova";
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.select {
  width: 100%;
}
